{
    "parser": "babel-eslint",
    "env": {
        "jest/globals": true
    },
    "extends": ["airbnb"],
    "plugins": ["jest", "import"],
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "import/prefer-default-export": "error",
        "jsx-a11y/no-static-element-interactions": "off",
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "import/no-absolute-path": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "function-paren-newline": "off",
        "object-curly-newline": "off"
    },
    "globals": {
        "document": true,
        "window": true,
        "navigator": true,
        "localStorage": true,
        "fetch": true
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "eslint-webpack.config.js"
            }
        }
    }
}
